[submodule "api"]
	path = api
	url = git@github.com:voikin/mm-api.git
	branch = dev
[submodule "users"]
	path = users
	url = git@github.com:voikin/mm-user.git
	branch = dev
[submodule "generator"]
	path = generator
	url = git@github.com:voikin/mm-generation.git
	branch = dev
[submodule "front"]
	path = front
	url = git@github.com:voikin/mm-client.git
	branch = dev
